body {
  margin: 0;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

.house-status {
  background-color: #f0f0f0;
}

.house-status p {
  margin: 0;
}

.house-status__header {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.house-status__check-time {
  color: #e4e4e4;
  font-size: .7rem;
  right: 5px;
  top: 5px;
  position: absolute;
}

.house-status__check-number {
  text-align: center;
  font-size: .9rem;
}

.house-status__check-number .label {
  color: #999;
  margin-bottom: .5rem;
}

.house-status__check-number .number {
  color: #008000;
  margin-top: .5rem;
}

.house-status__check {
  margin-top: 1rem;
}

.house-status__check-headpic {
  border: 1px solid #999;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  overflow: hidden;
  margin: 1.5rem auto .5rem;
  text-align: center;
}

.house-status__check-headpic img {
  max-width: 75%;
  margin-top: 10px;
  height: 100px;
}

.house-status__house-info {
  padding: 5% 0;
  background-color: #fff;
  margin-bottom: .6rem;
  border-bottom: 1px solid #dfdfdf;
  border-top: none;
}

.house-status__house-detail {
  text-align: center;
}

.house-status__type {
  background-color: #e1e1e1;
  color: #999;
  border-radius: 6px;
  width: 9rem;
  text-align: center;
  font-size: .8rem;
  line-height: 2.5rem;
  margin: 0 auto;
}

.house-status__address {
  margin: 1.2rem auto 0;
  color: #999;
  font-size: .9rem;
  display: inline-table;
}

.house-status__address i {
  background-image: url('../public/placeholder.png');
  width: 22px;
  height: 21px;
  margin-right: .5rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 80%;
  vertical-align: sub;
}

.house-status__detail {
  margin: 1rem auto;
}

.house-status__name,
.house-status__area {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.house-status__area {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fe5054;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
}

.house-status__area span {
  font-size: .8rem;
  font-weight: normal;
  color: #999;
}

.house-status__floor {
  color: #999;
  font-size: .9rem;
  display: inline-table;
}

.house-status__floor i {
  background-image: url('../public/front.png');
  background-repeat: no-repeat;
  background-size: 80%;
  width: 26px;
  height: 22px;
  display: inline-block;
  margin-right: .5rem;
  vertical-align: sub;
}

.house-status__all-status {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
  padding: 5% 0;
  overflow: hidden;
}

.house-status__status-title {
  background-color: #fbfbfb;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  width: 13.5rem;
  margin: 0 auto;
}

.house-status__status-title i {
  background-image: url('../public/warning.png');
  width: 19px;
  height: 19px;
  display: inline-block;
  vertical-align: sub;
  margin: 0 .5rem;
}

.house-status__status-title .title {
  color: #999;
  text-align: center;
  font-size: .9rem;
  line-height: 1.8rem;
  display: inline-block;
  margin: 0 auto;
}

.house-status__status-types {
  list-style: none;
  padding: 0;
  width: 90%;
  margin: 1.5rem auto;
}

.house-status__status-types li {
  float: left;
  color: #fff;
  font-size: .8rem;
  width: 48%;
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  overflow: hidden;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.house-status__status-types li:nth-child(odd) {
  margin-right: 2%;
}

.house-status__status-type,
.house-status__status {
  float: left;
  width: 50%;
  text-align: center;
}

.house-status__status-type {
  background-color: #fff;
  color: #999;
}

.house-status__status {
  background-color: #1492ff;
}

.no-result {
  text-align: center;
  color: #999;
}

.no-result img {
  width: 60%;
  margin-top: 30%;
}

.no-result__tips {
  margin-top: 10%;
  margin-bottom: 40%;
}

.no-result__tips p {
  margin-bottom: .5rem;
}

.loading {
  position: absolute;
  text-align: center;
  color: #666666;
  top: 49%;
  width: 100%;
  line-height: 2rem;
}

.loading img {
  margin-right: 5px;
  vertical-align: middle;
}
